<ion-view>
  <ion-content class="padding has-header">
  	<h3 class="padding text-center">StormTower Form</h3>
    <div class="text-center">
      <img src="img/logo/ChandlerCompaniesSGLogo-S-WT-640px.png" class="homelogo">
    </div>
    
    <!-- <p class="text-center padding-top fs-36 linehigh">The Ultimate <span>&nbsp;&nbsp;</span> Peace of Mind.</p> -->
    <p class="text-center padding-top fs-36 linehigh lett-spec m0">The Ultimate </p>
    <p class="text-center fs-36 linehigh lett-spec">Peace of Mind.</p>
    <p class="padding text-justify" >Please enter your information below and your property will be uploaded into our database and activated immediately for 24-7-365 year-round weather monitoring.</p>
    <p class="padding-left padding-bottom"><span class="red-color">*</span> Indicates Required Fields</p>


    <div class="list">

      <div class="padding-left">First Name<span class="red-color">*</span></div>
      <label class="item item-input">
        <input type="text" ng-model="GuardFormObj.fname" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Last Name<span class="red-color">*</span></div>
      <label class="item item-input">
        <input type="text" ng-model="GuardFormObj.lname" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Phone Number<span class="red-color">*</span></div>
      <label class="item item-input" next-on-enter>
        <input type="text" ng-model="GuardFormObj.phone" ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Email Address<span class="red-color">*</span></div>
      <label class="item item-input">
        <input type="email" ng-model="GuardFormObj.email" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Company</div>
      <label class="item item-input">
        <input type="text" ng-model="GuardFormObj.company" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Position in Company</div>
      <label class="item item-input">
        <input type="text" ng-model="GuardFormObj.position_in_company" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Are You the Property Owner?<span class="red-color">*</span></div>
      <div style="padding-bottom: 16px;">
        <span style="padding-left: 21px;">
          <input type="radio" name="isOwner" ng-model="GuardFormObj.is_property_owner" value="Yes" style="margin-top: 7px;">
          <label style="padding-left: 5px;">Yes</label>
        </span>

        <span style="padding-left: 21px;">
          <input type="radio" name="isOwner" ng-model="GuardFormObj.is_property_owner" value="No" style="margin-top: 7px;">
          <label style="padding-left: 5px;">No</label>
        </span>
      </div>

      <div class="padding-left">If No, Property Owner Name<span ng-if="GuardFormObj.is_property_owner=='No'" class="red-color">*</span></div>
      <label class="item item-input">

        <textarea ng-disabled="GuardFormObj.is_property_owner!='No'" rows="4" ng-model="GuardFormObj.property_owner_name" next-on-enter ng-focus="hideTab()" ng-blur="showTab()"></textarea>
      </label>

      <div class="padding-left">Are You an Insurance Professional?<span class="red-color">*</span></div>
      <div style="padding-bottom: 16px;">
        <span style="padding-left: 21px;">
          <input type="radio" name="isProfessional" ng-model="GuardFormObj.is_insurance_professional" value="Yes" style="margin-top: 7px;">
          <label style="padding-left: 5px;">Yes</label>
        </span>

        <span style="padding-left: 21px;">
          <input type="radio" name="isProfessional" ng-model="GuardFormObj.is_insurance_professional" value="No" style="margin-top: 7px;">
          <label style="padding-left: 5px;">No</label>
        </span>
      </div>
      <form>
        <fieldset>
          <legend> <span style="padding: 0 3px;"><strong>Property Info</strong><span class="red-color">*</span></span> </legend>
          <div class="padding-left">Address 1<span class="red-color">*</span></div>
          <label class="item item-input" >
            <input type="text" ng-model="GuardFormObj.property_address1" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

          <div class="padding-left">Address 2</div>
          <label class="item item-input">
            <input type="text" ng-model="GuardFormObj.property_address2" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

          <div class="padding-left">City<span class="red-color">*</span></div>
          <label class="item item-input">
            <input type="text" ng-model="GuardFormObj.property_city" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

          <div class="padding-left">State<span class="red-color">*</span></div>
          <select name="Year" ng-model="GuardFormObj.property_state">
            <option value=""></option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District Of Columbia">District Of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
            <!-- <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option> -->
          </select>

          <div class="padding-left" style="padding-top:16px">Zip<span class="red-color">*</span></div>
          <label class="item item-input">
            <input type="text" ng-model="GuardFormObj.property_zip" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

        </fieldset>
      </form>

      <div class="padding-left" style="padding-top:16px">Property Type<span class="red-color">*</span></div>
      <select name="loss" ng-model="GuardFormObj.property_type">
        <option value=""></option>
        <option value="Commercial">Commercial</option>
        <option value="Industrial">Industrial</option>
        <option value="Residential">Residential</option>
      </select>

      <div class="padding-left" style="padding-top:15px;">Comments</div>
      <label class="item item-input">
        <textarea rows="4" ng-model="GuardFormObj.comments" next-on-enter ng-focus="hideTab()" ng-blur="showTab()"></textarea>
      </label>

    <p class="padding text-justify">Your privacy is our top priority. Personal or company data, comments, inquiries submitted and all correspondence will not be shared or sold to 3rd party companies or interests outside of Chandler Companies, its subsidiaries and partnerships without your consent.</p>

    <div class="text-center">
      <button class="button button-assertive" style="width: 200px;" ng-click="GuardForm();">
        SUBMIT
      </button>
    </div>



    <br><br><br><br>
  </ion-content>
</ion-view>
