<ion-view>
  <ion-content class="padding">
    <div class="text-center">
      <img src="img/logo/ChandlerCompaniesSGLogo-S-WT-640px.png" class="homelogo">
    </div>
    <p class="text-center padding-top fs-36 linehigh lett-spec m0">The Ultimate</p>
    <p class="text-center fs-36 linehigh lett-spec">Peace of Mind.</p>
    <p class="text-center padding-top fs-18 linehigh">StormTower<sup>TM</sup> Property Protection Program is an Industry-Exclusive, Courtesy Service Offered by Chandler.
    <p class="text-justify padding-top" style="">Simply fill out the StormTower™ form below and your property will be entered into our custom, web-based, National Weather and Atmospheric Software System for around the clock monitoring.</p>

    <p class="text-justify">The StormTower<sup>TM</sup> Program will provide you:</p>
    <div>
	    <ul class="padding orange-color" style="list-style-type: disc;">
			  <li class="text-justify">Free 24/7/365 “Live” Weather Monitoring of your specific address</li>
			  <li class="text-justify">Free “Live” Alerts and Notifications for hail and wind events</li>
			  <li class="text-justify">Free Location Specific Data for:
			  	<ul style="list-style-type: circle;padding-bottom: 10px !important;">
			  		<li>Hail Size, Frequency and Duration</li>
			  		<li>Wind Speed and Direction</li>
			  		<li>Storm Duration</li>
			  	</ul>
			  </li>  
			  <li class="text-justify">Free 24 Hour Emergency “First Response” Service</li>  
			  <li class="text-justify">Free Inspection of Entire Property for Damage</li>  
			  <li class="text-justify">Free Consultation and Detailed “Next Step Options”</li>  
			</ul>
	  </div>

	  <br>

    <p class="text-justify">This is all a free service with no strings attached and offered as a courtesy for the opportunity to earn your business.</p>
    <p class="text-justify">In the event of storm damage to your property, we would be honored to be an advocate and represent you in the insurance claim process and perform the work stated in your successfully settled claim.</p>
    <p class="text-justify">It is important to understand that we are paid by the insurance company, so we will do everything within our collective abilities to return your entire property to its “pre-loss condition” at no expense to you.</p>
		<br>
		<div class="text-center" ui-sref="tab.guardForm">
			<a class="orange-color font-25" style="border-bottom: 2px solid #D14A15;">StormTower<sup>TM</sup> Form</a>
		</div>
    <br><br><br><br>
  </ion-content>
</ion-view>
