<ion-view cache-view="false">
  <ion-content class="has-header">
    <h2 class="text-center padding-top fs-36"><strong>Get Help</strong></h2>
    <p class="text-center padding-top" style="font-size: 18px;"><strong>Nationwide Toll-Free Number</strong></p>
    <br>
    <div class="text-center">
    	<a ng-click="openCallDialer('+18553130742')" class="button ion-ios-telephone call-button"></a>
    </div>
    <br>
    <div class="text-center padding-top">
    	<a ng-click="openCallDialer('+18553130742')" class="underline_text" style="color: #000;font-weight: bold;font-size: 20px;">855-313-0742</a>
        <p class="text-center padding-top">Or fill out a Loss Report and the appropriate department will contact you immediately upon receiving</p>
    </div>
    <div class="text-center padding-top">
    	<button class="button button-assertive" style="width: 200px;" ui-sref="tab.reportLoss">
		  REPORT A LOSS
		</button>
    </div>

    <br><br><br><br>
  </ion-content>
</ion-view>
