<ion-view>
    <ion-content class="padding has-header" id="content" style="bottom:100px;" has-bouncing="false" scroll="true">
        <div class="text-center logo-wrapper" ng-style="{bottom: bottom+ 'px'}" ng-if="!isLandScape">
            <img src="img/logo/ChandlerCompaniesSGLogo-S-WT-640px.png" class="home-logo">
        </div>
        <div class="text-center logo-wrapper" ng-if="isLandScape">
            <img src="img/logo/ChandlerCompaniesSGLogo-S-WT-640px.png" class="home-logo">
        </div>
        <div class="description-wrapper">
            <p class="text-center orange-color padding-top fs-20 linehigh">Home of the Chandler Exclusive StormTower<sup>TM</sup> Property Protection Program</p>
            <p class="text-center padding-top fs-20 linehigh">“Restoring History into a Sustainable Future Since 1948”</p>
            <!-- <br><br><br><br> -->
        </div>
    </ion-content>
</ion-view>