<ion-view>
  <ion-content class="padding has-header">
  	<h3 class="padding text-center">Free Inspection & Consultation Form</h3>
    
    <p class="padding text-justify">Please give us some brief preliminary information and we’ll contact you immediately upon receiving to schedule a date and time for a site visit to your property.</p>
    <p class="padding-left padding-bottom"><span class="red-color">*</span> Indicates Required Fields</p>


    <div class="list">

      <div class="padding-left">First Name<span class="red-color">*</span></div>
      <label class="item item-input">
        <input type="text" ng-model="InspectionObj.fname" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Last Name<span class="red-color">*</span></div>
      <label class="item item-input">
        <input type="text" ng-model="InspectionObj.lname" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Phone Number<span class="red-color">*</span></div>
      <label class="item item-input" >
        <input type="text" ng-model="InspectionObj.phone" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Email Address<span class="red-color">*</span></div>
      <label class="item item-input">
        <input type="email" ng-model="InspectionObj.email" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Company</div>
      <label class="item item-input">
        <input type="text" ng-model="InspectionObj.company" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Position in Company</div>
      <label class="item item-input">
        <input type="text" ng-model="InspectionObj.position_in_company" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
      </label>

      <div class="padding-left">Are You the Property Owner?<span class="red-color">*</span></div>
      <div style="padding-bottom: 16px;">
        <span style="padding-left: 21px;">
          <input type="radio" name="isOwner" ng-model="InspectionObj.is_property_owner" value="Yes" style="margin-top: 7px;">
          <label style="padding-left: 5px;">Yes</label>
        </span>

        <span style="padding-left: 21px;">
          <input type="radio" name="isOwner" ng-model="InspectionObj.is_property_owner" value="No" style="margin-top: 7px;">
          <label style="padding-left: 5px;">No</label>
        </span>
      </div>

      <div class="padding-left">If No, Property Owner Name<span ng-if="InspectionObj.is_property_owner=='No'" class="red-color">*</span></div>
      <label class="item item-input">
        <textarea ng-disabled="InspectionObj.is_property_owner!='No'" rows="4" ng-model="InspectionObj.property_owner_name" next-on-enter ng-focus="hideTab()" ng-blur="showTab()"></textarea> 
      </label>

      <div class="padding-left">Are You an Insurance Professional?<span class="red-color">*</span></div>
      <div style="padding-bottom: 16px;">
        <span style="padding-left: 21px;">
          <input type="radio" name="isProfessional" ng-model="InspectionObj.is_insurance_professional" value="Yes" style="margin-top: 7px;">
          <label style="padding-left: 5px;">Yes</label>
        </span>

        <span style="padding-left: 21px;">
          <input type="radio" name="isProfessional" ng-model="InspectionObj.is_insurance_professional" value="No" style="margin-top: 7px;">
          <label style="padding-left: 5px;">No</label>
        </span>
      </div>


      <form>
        <fieldset>
          <legend> <span style="padding: 0 3px;"><strong>Property Info</strong><span class="red-color">*</span></span> </legend>
          <div class="padding-left">Address 1<span class="red-color">*</span></div>
          <label class="item item-input">
            <input type="text" ng-model="InspectionObj.property_address1" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

          <div class="padding-left">Address 2</div>
          <label class="item item-input">
            <input type="text" ng-model="InspectionObj.property_address2" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

          <div class="padding-left">City<span class="red-color">*</span></div>
          <label class="item item-input">
            <input type="text" ng-model="InspectionObj.property_city" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

          <div class="padding-left">State<span class="red-color">*</span></div>
          <select name="Year" ng-model="InspectionObj.property_state">
            <option value=""></option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District Of Columbia">District Of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>

          <div class="padding-left" style="padding-top:16px">Zip<span class="red-color">*</span></div>
          <label class="item item-input">
            <input type="text" ng-model="InspectionObj.property_zip" next-on-enter ng-focus="hideTab()" ng-blur="showTab()">
          </label>

        </fieldset>
      </form>

      <div class="padding-left" style="padding-top:16px">Property Type<span class="red-color">*</span></div>
      <select name="loss" ng-model="InspectionObj.property_type">
        <option value=""></option>
        <option value="Commercial">Commercial</option>
        <option value="Industrial">Industrial</option>
        <option value="Residential">Residential</option>
      </select>

      <div class="padding-left" style="padding-top:16px">Department<span class="red-color">*</span></div>
      <select name="loss" ng-model="InspectionObj.department">
        <option value=""></option>
        <option value="Insurance Claim">Insurance Claim</option>
        <option value="Restoration/Renovation">Restoration/Renovation</option>
        <option value="Roofing or Exterior">Roofing or Exterior</option>
        <option value="Engineered Tax Services">Engineered Tax Services</option>
        <option value="Environmental Mitigation">Environmental Mitigation</option>
        <option value="Other">Other</option>
      </select>

      <div class="padding-left" style="padding-top:15px;">Purpose for Inspection/Consultation</div>
      <label class="item item-input">
        <textarea rows="4" ng-model="InspectionObj.comments" next-on-enter ng-focus="hideTab()" ng-blur="showTab()"></textarea>
      </label>

      <p class="padding">Your privacy is our top priority. Personal or company data, comments, inquiries submitted and all correspondence will not be shared or sold to 3rd party companies or interests outside of Chandler Companies, its subsidiaries and partnerships without your consent.</p>

    <div class="text-center">
      <button class="button button-assertive" style="width: 200px;" ng-click="InspectionForm();">
        SUBMIT
      </button>
    </div>



    <br><br><br><br>
  </ion-content>
</ion-view>
