<ion-view>
  <ion-content class="padding has-header" style="padding: 0 10px;">
  	<p class="text-center padding-top fs-36 linehigh">Free Inspection and Consultation</p>
    <p class="text-center padding-top fs-24 linehigh">We’re here to help.</p>
    <p class="text-justify padding-top">Start with a free inspection and professional consultation to identify and address the specific needs of your property.</p>
	 <p class="text-justify padding-top">Please click the form below to give us some brief preliminary information and we’ll contact you immediately upon receiving to schedule a date and time to visit your property.</p>
	<br>
    <div class="text-center">
		<a class="orange-color font-25" ui-sref="tab.inspectForm">Inspection Form</a>
	</div>

    <br><br><br><br>
  </ion-content>
</ion-view>
