<ion-view>
  <ion-content class="has-header">
  	<p class="text-center padding-top linehigh fs-36 m0">Diversified Services.</p>
  	<p class="text-center padding-top linehigh fs-36 mt-10">Unwavering Quality</p>
    <div class="padding text-justify">Chandler is a full service, family owned and operated General Contracting Firm since 1948 proudly serving the greater states of Colorado, Texas, Minnesota and Nebraska.</div>
	<div class="padding text-justify">We offer a wide spectrum of General Contractor services with specific market focus and unparalleled expertise in all facets of storm restoration, insurance claims and commercial roofing.</div>
	<div class="padd-left padding-top"><strong>These Expert Services Include:</strong></div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Restoration and Renovation</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    From first response emergency services, to handling and maximizing insurance claim, through project completion.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Roofing Systems</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    The proven and time-tested market leader in commercial and industrial low-slope roofing systems.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Exterior Envelope</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    Certified master craftsman in all exterior components including HVAC, wall systems, electrical, paint and finish.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>StormTower<sup>TM</sup></strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    The ultimate peace-of-mind and Property Protection Program exclusively offered as a courtesy service by Chandler.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Professional Insurance Claim Department</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    Don’t leave your insurance claim to chance, we’ll make sure your entire property is returned to “pre-loss condition”.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal text-justify">
	    	<strong>Courtesy Consultations and Inspections</strong>
	    </div>
	  <div class="item item-text-wrap text-justify">
	    Start with a free inspection and professional consultation to identify and address the specific needs of your property.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Environmental Mitigation</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    Licensed and certified specialists in the remediation of water, mold and radon contamination.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Engineered Tax Services</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    Uncover the possibilities of renovating your property at “Net Zero Cost” through marrying the science of Engineering with the ever-evolving myriad of tax, energy and environmental incentives.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Green Initiatives and Sustainability</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    Green and sustainable building practices have experienced unprecedented growth as the fastest growing US industry in the last 5 years and will be a critical component for property owners to remain profitable and relevant in the marketplace.
	  </div>
	</div>

	<div class="card card-design">
		<div class="item item-divider orange-color white-space-normal">
	    <strong>Engineering and Design</strong>
	  </div>
	  <div class="item item-text-wrap text-justify">
	    Whether the planning of new, or the renovation of old, design through Engineering is the foundation to any successful construction project.
	  </div>
	</div>

	<br>
	
	<div class="text-center">
		<a class="orange-color font-25 underline_text" ng-click="sendMail('info@chandlercompaniesinc.com')">CONTACT US</a><br>
	</div>


	<br><br><br><br>
  </ion-content>
</ion-view>
